﻿@model IEnumerable<TessierAshpool.WinStreakers.Business.Entities.Player>

<!--author: Jonas Benzon Illum -->

@{
    ViewBag.Title = "Players";
}

<h2 style="color: peru">Temporary Player List:</h2>

<table>
    @foreach (var player in Model)
    {
        if (player.PlayerId % 9 == 1) {<tr></tr>}
        <td style="background-color:rgba(245, 222, 179, 0.75)">
            @Html.ActionLink(@player.Name, "ShowPlayer", new { id = player.PlayerId }, null)
        </td>
    }
</table>
