﻿@model TessierAshpool.WinStreakers.Business.Entities.Player

<!--author: Jonas Benzon Illum -->

@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name</h2>

<div>
    Member of team: @Html.ActionLink(@Model.Team.Name, "ShowTeam", "Team", new { id = @Model.TeamId}, null)
</div>

