﻿<!--author: Jonas Benzon Illum -->

@{
    ViewBag.Title = "Admin Index";
}

<div style="text-align: center;">
    <h1 style="color: peru">Temporary Admin Page</h1>
    @Html.ActionLink("Back to Public Page", "Index", "Home", new {area = "User"}, null)
</div>

<div>@Html.ActionLink("Manage Games", "Index", "Games")</div>
<div>@Html.ActionLink("Manage Matches", "Index", "Matches")</div>
<div>@Html.ActionLink("Manage Teams", "Index", "Teams")</div>
<div>@Html.ActionLink("Manage Players", "Index", "Players")</div>
<div>@Html.ActionLink("Manage Tournaments", "Index", "Tournaments")</div>
<hr/>




