﻿@using TessierAshpool.WinStreakers.Business.Entities
@model TessierAshpool.WinStreakers.Web.Areas.User.ViewModels.ShowTeamViewModel

<!--author: Jonas Benzon Illum -->

@{
    ViewBag.Title = @Model.TeamName;
}

<h2>@Model.TeamName</h2>

<h3>Team Members:</h3>
@foreach (Player player in Model.Members)
{
    <div>
        @Html.ActionLink(@player.Name, "ShowPlayer", "Player", new { id = player.PlayerId }, null)
    </div>
}

@if (Model.ActiveInGames.Any())
{
    <h3>Games active in:</h3>
foreach (Game game in Model.ActiveInGames)
 {
     <div>
         @Html.ActionLink(@game.Name, "ShowGame", "Game", new {id = game.GameId}, null)
     </div>
 }
}
else
{
    <h3><i>Inactive team</i></h3>
}