﻿<!--author: Jonas Benzon Illum -->

@{
    ViewBag.Title = "WinStreakers";
}

@Scripts.Render("~/bundles/custom")

<body>
    <div id="sideMenuRoot" class="col-sm-4 hidden-xs">
        @Html.Action("SideMenu", "SideMenu")
    </div>
    <div od="matchContent-root" class="col-sm-8">
        <div id="selectedMatch-root">
            <div id="selectedMatch"></div>
            <div id="selectedMatch-background"></div>
        </div>
        <div id="matchList-root">
            <div id="matchList"></div>
            <div id="matchList-background"></div>
        </div>
    </div> 
</body>