﻿@using TessierAshpool.WinStreakers.Web.Areas.User.ViewModels
@model IEnumerable<MenuItemViewModel>

<!--author: Jonas Benzon Illum -->

@foreach (MenuItemViewModel menuData in Model)
{
    <div id=@menuData.MenuItemId class="leafItem">
        <span class="categoryText">@menuData.Name</span>
        <script type="text/javascript">
            $('#@menuData.MenuItemId').click(
                {id: @menuData.MenuItemId, controllerAction: "@menuData.Category", receivingContainer:'#matchList'}, updateMatchContent); 
        </script>
    </div>
}