﻿@using TessierAshpool.WinStreakers.Web.Areas.User.ViewModels
@model IEnumerable<MenuItemViewModel>

<!--author: Jonas Benzon Illum -->

@foreach (MenuItemViewModel menuData in Model)
{
    String thisToggleid = menuData.Category.Replace(" ", "") + menuData.MenuItemId;
    <div class="subMenuHeader">
        <span class="categoryText subMenu level@(menuData.MenuDepthLevel)">
            @(menuData.Name ?? menuData.Category)
        </span>
        <div id=@thisToggleid class="menuToggle subMenu">
            <script type="text/javascript">
                $('#@thisToggleid').click({gameId: @menuData.MenuItemId, category: "@menuData.Category"}, openSubMenu);
            </script>
        </div>
    </div>
    <div id=@thisToggleid class="subMenuContent"></div>
}