﻿@model IEnumerable<TessierAshpool.WinStreakers.Business.Entities.Player>

<!--author: Jonas Benzon Illum -->

@{
    ViewBag.Title = "Players";
}

<div style="text-align: center;">
    <h2 style="color: peru;">Players</h2>
    @Html.ActionLink("Back to Admin Page", "Index", "AdminHome")
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
           Member of Team
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerId })
        </td>
    </tr>
}

</table>
