﻿<!--author: Jonas Benzon Illum -->

@model TessierAshpool.WinStreakers.Web.Areas.User.ViewModels.MatchInListViewModel

<tr id="@Model.MatchId" class="matchRow">
    <td class="text-center alignToMiddle">
        @Model.StartTime.ToString("HH:mm")
    </td>
    <td class="alignToMiddle">
        <span>@(Model.TeamOneName + " vs. " + Model.TeamTwoName)</span>
    </td>
    <td>
        <button type="button" class="btn btn-default btn-sm">@Model.TeamOneOdds.ToString("#0.00")</button>
    </td>
    <td>
        <button type="button" class="btn btn-default btn-sm">@Model.DrawOdds.ToString("#0.00")</button>
    </td>
    <td>
        <button type="button" class="btn btn-default btn-sm">@Model.TeamTwoOdds.ToString("#0.00")</button>
    </td>
</tr>

<script type="text/javascript">
    $('#@(Model.MatchId).matchRow')
        .click({id: @Model.MatchId, controllerAction: "ShowMatch", receivingContainer:'#selectedMatch'}, updateMatchContent);
</script>