﻿<!--author: Jonas Benzon Illum -->

@model TessierAshpool.WinStreakers.Web.Areas.User.ViewModels.MatchAndTeamViewModel

<p>
    @Html.ActionLink(@Model.Teams.First().Name, "ShowTeam", "Team", null, new { id = Model.Teams.First().TeamId })
    <span>vs.</span>
    @Html.ActionLink(@Model.Teams.Last().Name, "ShowTeam", "Team", null, new { id = Model.Teams.Last().TeamId })
    <br/>
    Match Info: @Html.DisplayFor(matchInfo => Model.Match.Description) <br />
    Starttid: @Html.DisplayFor(matchInfo => Model.Match.StartTime)
</p>