﻿<!--author: Jonas Benzon Illum -->

@using TessierAshpool.WinStreakers.Web.Areas.User.ViewModels
@model IEnumerable<MatchInListViewModel>

@{
    ViewBag.Title = "ListMatches";
}

<table class="table">
    <thead>
        <tr id="matchTableHeader">
            <td class="col-xs-1 text-center">Tid</td>
            <td class="col-xs-8">Kamp</td>
            <td class="col-xs-1 text-center">1</td>
            <td class="col-xs-1 text-center">X</td>
            <td class="col-xs-1 text-center">2</td>
        </tr>
    </thead>
    <tbody>
        @{
            DateTime currentTime = Model.First().StartTime;
        }

        @Html.Partial("_DateDividerPartial", currentTime)
        @foreach (MatchInListViewModel matchVM in Model)
        {
            if (matchVM.StartTime.Date > currentTime.Date)
            {
                currentTime = matchVM.StartTime;
                @Html.Partial("_DateDividerPartial", currentTime)
            }
            @Html.Partial("_MatchInListPartial", matchVM)
        }
    </tbody>
</table>