﻿@model TessierAshpool.WinStreakers.Web.Areas.User.ViewModels.MatchAndTeamViewModel

<!--author: Jonas Benzon Illum -->

@{
    ViewBag.Title = "Match - " + @Model.Match.Game;
}

<h2>Match:</h2>

<div>
    <h3>@Html.ActionLink(Model.Match.Game.Name, "ShowGame", "Game", new { id = Model.Match.GameId }, null)</h3>
    @Html.Partial("_MatchInfo")
</div>


