﻿<!--author: Jonas Benzon Illum -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Public Layout" />
    <link rel="icon" href="/Content/Images/favicon.ico">
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
    <body>
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">WinStreakers</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("ListGames","Game")">
                            Games
                            <span class="glyphicon glyphicon-tower"></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListAllMatches","Match")">
                            Matches
                            <span class="glyphicon glyphicon-flag"></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListGames","Game")">
                            Teams
                            <span class="glyphicon glyphicon-bullhorn"></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListPlayers","Player")">
                            Players
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Find...">
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index", "AdminHome", new { area = "Admin" } )"> 
                            Admin
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        @RenderBody()
    </body>
</html>
