﻿body {
  /*padding-top: 50px;*/
  margin: 0;
  background: url('/Content/Images/shibuya_canal_HDR_retina2.jpg');
}
.centerContentMargins {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#selectedMatch-root {
  height: 200px;
  visibility: hidden;
  margin-top: 25px;
  position: relative;
}
#selectedMatch {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  /*display:inline-block;*/
  z-index: 2;
  position: relative;
  color: #a7dbd8;
}
#matchList-root {
  margin-top: 30px;
  position: relative;
}
#matchList {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}
#selectedMatch-background,
#matchList-background {
  -webkit-filter: blur(10px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(34, 34, 34, 0.75);
  display: inline-block;
  float: none;
}
.blurBackground {
  -webkit-filter: blur(10px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(34, 34, 34, 0.75);
  display: inline-block;
  float: none;
}
/*# sourceMappingURL=home.css.map */