﻿.dateDivider {
  font-size: smaller;
  font-style: italic;
}
.table tbody > tr > td.alignToMiddle {
  vertical-align: middle;
}
.matchRow {
  cursor: pointer;
}
.matchRow:hover {
  background-color: rgba(0, 0, 255, 0.1);
}
.table {
  color: #a7dbd8;
}
.table .btn {
  background-color: #00d78f;
  font-weight: bold;
  font-family: verdana;
  color: #02573e;
}
.table .btn:active {
  background-color: #02573e;
  color: #00d78f;
}
.table .btn:hover {
  box-shadow: 0px 0px 3px 3px rgba(167, 219, 216, 0.75);
}
.table .btn:hover,
.table .btn:focus,
.table .btn:active {
  border: none;
}
/*# sourceMappingURL=matchList.css.map */