﻿
// <author>Jonas Benzon Illum</author>

.dateDivider{
   font-size:smaller;
   font-style:italic;
}

.table tbody>tr>td.alignToMiddle{
    vertical-align: middle;
}

.matchRow{
    cursor:pointer;
}

.matchRow:hover{
      background-color:rgba(0, 0, 255, 0.1);
}

.table{
    color:rgb(167,219,216);

    .btn{
        background-color:rgb(0, 215, 143);
        font-weight:bold;
        font-family: verdana;
        color:rgb(2, 87, 62);
    }

    .btn:active{
       background-color:rgb(2, 87, 62);
       color:rgb(0, 215, 143);
    }

    .btn:hover{
        box-shadow: 0px 0px 3px 3px rgba(167,219,216,0.75);
    }

    .btn:hover, .btn:focus, .btn:active{
        border:none;
    }

}