﻿// <author>Jonas Benzon Illum</author>

@menuHeight: 40px;
@subMenuRatio: 0.80;
@subMenuHeight: @menuHeight * @subMenuRatio;

@standardFontSize: 13px;
@fontSizeStepping: 1px;

/*@media (max-width: 480px)
{
    #sideMenuRoot{display: none}
}*/

#sideMenuRoot{
    padding-left:0;
    width:220px;
    @media (min-width: 769px) and (max-width: 993px){ 
        width:175px;
        .categoryText{ font-size: 80%; }
    }
}

.sharedMenuItem{
    background: url('/Content/Images/menuItemBackground.png');
}

.subMenuHeader{
    height: @subMenuHeight;
    .sharedMenuItem;
}

.subMenuHeader:hover{
    background: url('/Content/Images/menuItemBackgroundHover.png');
}

.leafItem{
    .sharedMenuItem;
    cursor: pointer;
    padding-left: 30px;
}

.leafItem:hover{
    font-weight:bold;
    text-shadow:
    -1px -1px 0 silver,
    1px -1px 0 silver,
    -1px 1px 0 silver,
    1px 1px 0 silver;
    background: url('/Content/Images/menuItemBackgroundHover.png');
}

.subMenuContent{
    display:none;
}

.menuToggle{
    background: url('/Content/Images/rightArrowWhite.png') no-repeat;
    height: @menuHeight;
    float: right;
    width: 30px;
    background-position: center center;
    cursor: pointer;
}

.menuToggle.subMenu{
    height: @subMenuHeight;
}

.menuToggle.open{
    background: url('/Content/Images/downArrowWhite.png') no-repeat;
}

.categoryText.subMenu{
    font-family: Tahoma, sans-serif;
    color: #0C23BD;
    padding-left: 5px;
    line-height: @subMenuHeight;
    font-size: @standardFontSize;
}

.categoryText.subMenu.level0{
    text-transform: uppercase;
    font-size:@standardFontSize + @fontSizeStepping;
}

.categoryText.subMenu.level1{
    padding-left: 20px;
}

.categoryText.subMenu.level2{
    padding-left: 40px;
}