﻿/*@media (max-width: 480px)
{
    #sideMenuRoot{display: none}
}*/
#sideMenuRoot {
  padding-left: 0;
  width: 220px;
}
@media (min-width: 769px) and (max-width: 993px) {
  #sideMenuRoot {
    width: 175px;
  }
  #sideMenuRoot .categoryText {
    font-size: 80%;
  }
}
.sharedMenuItem {
  background: url('/Content/Images/menuItemBackground.png');
}
.subMenuHeader {
  height: 32px;
  background: url('/Content/Images/menuItemBackground.png');
}
.subMenuHeader:hover {
  background: url('/Content/Images/menuItemBackgroundHover.png');
}
.leafItem {
  background: url('/Content/Images/menuItemBackground.png');
  cursor: pointer;
  padding-left: 30px;
}
.leafItem:hover {
  font-weight: bold;
  text-shadow: -1px -1px 0 #c0c0c0, 1px -1px 0 #c0c0c0, -1px 1px 0 #c0c0c0, 1px 1px 0 #c0c0c0;
  background: url('/Content/Images/menuItemBackgroundHover.png');
}
.subMenuContent {
  display: none;
}
.menuToggle {
  background: url('/Content/Images/rightArrowWhite.png') no-repeat;
  height: 40px;
  float: right;
  width: 30px;
  background-position: center center;
  cursor: pointer;
}
.menuToggle.subMenu {
  height: 32px;
}
.menuToggle.open {
  background: url('/Content/Images/downArrowWhite.png') no-repeat;
}
.categoryText.subMenu {
  font-family: Tahoma, sans-serif;
  color: #0C23BD;
  padding-left: 5px;
  line-height: 32px;
  font-size: 13px;
}
.categoryText.subMenu.level0 {
  text-transform: uppercase;
  font-size: 14px;
}
.categoryText.subMenu.level1 {
  padding-left: 20px;
}
.categoryText.subMenu.level2 {
  padding-left: 40px;
}
/*# sourceMappingURL=sideMenu.css.map */