﻿// Yeti 3.3.1
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");


// Variables
@dropdown-divider-bg:            rgba(0,0,0,.2);
@padding-xs-vertical:           4px;
@padding-xs-horizontal:         6px;
@navbar-default-bg:             lighten(#000, 20%);
@navbar-default-color:          #fff;
@navbar-default-border:         darken(@navbar-default-bg, 6.5%);
@navbar-default-link-hover-bg:  #272727;
@navbar-inverse-bg:             #008cba;
@navbar-inverse-color:          #fff;
@navbar-inverse-link-hover-bg:  darken(@navbar-inverse-bg, 10%);


// Navbar =====================================================================

.navbar-nav > li > a{
    padding-left:10px;
    padding-right:10px;
}

.navbar {
    border-radius:0;
    margin-bottom:0;

    border: none;
    font-size: 13px;
    font-weight: 300;

    .navbar-toggle:hover .icon-bar {
        background-color: #b3b3b3;
    }

    &-collapse {
        border-top-color: @dropdown-divider-bg;
        
    }

    .btn {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    &-form {
        margin-top: 7px;
        margin-bottom: 5px;

        .form-control {
            height: auto;
            padding: @padding-xs-vertical @padding-xs-horizontal;
        }
    }

    .dropdown {

        &-menu {
            border: none;

            > li > a,
            > li > a:focus {
                background-color: transparent;
                font-size: 13px;
                font-weight: 300;
            }
        }

        &-header {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &-default {

        .dropdown-menu {
            background-color: @navbar-default-bg;

            > li > a,
            > li > a:focus {
                color: @navbar-default-color;
            }

            > li > a:hover,
            > .active > a,
            > .active > a:hover {
                background-color: @navbar-default-link-hover-bg;
            }
        }
    }

    &-inverse {

        .dropdown-menu {
            background-color: @navbar-inverse-bg;

            > li > a,
            > li > a:focus {
                color: @navbar-inverse-color;
            }

            > li > a:hover,
            > .active > a,
            > .active > a:hover {
                background-color: @navbar-inverse-link-hover-bg;
            }
        }
    }
}