﻿@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
.navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  font-size: 13px;
  font-weight: 300;
}
.navbar .navbar-toggle:hover .icon-bar {
  background-color: #b3b3b3;
}
.navbar-collapse {
  border-top-color: rgba(0, 0, 0, 0.2);
}
.navbar .btn {
  padding-top: 6px;
  padding-bottom: 6px;
}
.navbar-form {
  margin-top: 7px;
  margin-bottom: 5px;
}
.navbar-form .form-control {
  height: auto;
  padding: 4px 6px;
}
.navbar .dropdown-menu {
  border: none;
}
.navbar .dropdown-menu > li > a,
.navbar .dropdown-menu > li > a:focus {
  background-color: transparent;
  font-size: 13px;
  font-weight: 300;
}
.navbar .dropdown-header {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-default .dropdown-menu {
  background-color: #333333;
}
.navbar-default .dropdown-menu > li > a,
.navbar-default .dropdown-menu > li > a:focus {
  color: #ffffff;
}
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > .active > a,
.navbar-default .dropdown-menu > .active > a:hover {
  background-color: #272727;
}
.navbar-inverse .dropdown-menu {
  background-color: #008cba;
}
.navbar-inverse .dropdown-menu > li > a,
.navbar-inverse .dropdown-menu > li > a:focus {
  color: #ffffff;
}
.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > .active > a,
.navbar-inverse .dropdown-menu > .active > a:hover {
  background-color: #006687;
}
/*# sourceMappingURL=yetiThemeNavbar.css.map */