﻿@model IEnumerable<TessierAshpool.WinStreakers.Business.Entities.Team>

<!--author: Jonas Benzon Illum -->

@{
    ViewBag.Title = "Teams";
}

<div style="text-align: center;">
    <h2 style="color: peru;">Teams</h2>
    @Html.ActionLink("Back to Admin Page", "Index", "AdminHome")
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamId })
        </td>
    </tr>
}

</table>
