﻿<!--author: Jonas Benzon Illum -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin @ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
</head>
<body>

    <div class="container body-content" style="background-color: #2b52bd;">
        @RenderBody()
    </div>
</body>
</html>