﻿@model IEnumerable<TessierAshpool.WinStreakers.Business.Entities.Game>

<!--author: Jonas Benzon Illum -->

@{
    ViewBag.Title = "Available Games";
}

<h2 style="color: peru">Available Games:</h2>

@foreach (var game in Model)
{
    <div>
        @Html.ActionLink(game.Name, "ShowGame", new { id = game.GameId })
    </div>
}