﻿@model TessierAshpool.WinStreakers.Business.Entities.Game

<!--author: Jonas Benzon Illum -->

@{
    ViewBag.Title = @Model.Name;
}
<div>
    <h1 style="color: peru" align="center">@Model.Name</h1>
    @Html.ActionLink("Næste Spil ›", "ShowGame", "Game", new { id = Model.GameId + 1 }, null)
    @Html.Action("ListMatches", "Match", new { game = Model })
</div>
